/* background */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, #0762d8 , #2de5e0);
    font-family: 'Incosolate', monospace;
}

/* general buttons */
button {
    display:block;
    font-size: 18px;  /* Makes text larger */
    padding: 14px 28px;  /* Increases button size */
    background: transparent; /* Gradient */
    color: white;  /* White text */
    border: none;  /* Removes default border */
    border-radius: 8px;  /* Rounded corners */
    cursor: pointer;  /* Changes cursor to pointer */
    transition: 0.3s ease; /* Smooth hover effect */
    font-weight:bold;
}


button:hover {
    opacity: 0.8; /* Slight transparency on hover */
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures items are spaced out */
    width: 100%;
    height: 10vh;
    border: 2px solid green; /* Creates the box border */
    box-sizing: border-box; /* REMOVE ONCE BORDER IS REMOVED */
}

.navbar-left-group {
    display: flex;
    align-items: center;
    gap: 3vh;
}

/* hamburger icon on the top left */
.menu-icon {
    font-size: 7vh;
    color: white;
    cursor: pointer;
    margin-left: 1vh;
}

/* dashboard button in navbar */
.navbtn-dash{ 
    background: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 35px;
}

/* list/profile button in navbar */
.navbtn-list{ 
    background: rgba(0, 0, 0, 0.1);;
    color: white;
    font-size: 35px;
}

/* logout button for navbar */
.navbtn-log-out{ 
    background: rgba(0, 0, 0, 0.1);
    margin-right: 2vh;
    color: white;
    font-size: 35px;
}

/* sase logo */
img.top-left-logo { 
    height: 7vh;
    cursor: pointer;
}

.box-container {
    height: 90vh;
    display: flex;
    flex-direction: row;;
    border: 2px solid orange; /* Creates the box border */
    box-sizing: border-box; /* REMOVE ONCE BORDER IS REMOVED */
}

/* big block to hold all the items */
.box-list{
    width: 70%;
    height: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    /* align-items: top;  NOTE: For flex-direction: column, you might mean align-items: flex-start; */
    align-items: flex-start; /* Align items to the start (top) of the container */
    background: #e9edf2;
    border: 2px solid red; /* Creates the box border */
    /* Add transition to match the sidebar */
    transition: auto 0.7s ease-in-out, width 0.7s ease-in-out;
    box-sizing: border-box; /* REMOVE ONCE BORDER IS REMOVED */
}

.box-list-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    border: 2px solid black; /* Creates the box border */
    box-sizing: border-box; /* Includes padding and border in the element's total size */
}

.box-list-content{
    padding-top: 20px; 
    overflow-y: auto;  /* Enable vertical scrolling when content exceeds the max height */
    padding-right: 10px; /* Optional, add some padding for better scrollbar visibility */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    border: 2px solid black; /* Creates the box border */
    box-sizing: border-box; /* Includes padding and border in the element's total size */
}

/* small block that holds category list */
.box-category{
    box-sizing: border-box; /*makes padding part of the box's dimensions*/
    flex-direction: column;
    display: flex;
    width: 30%;
    height: 100%;
    align-items: top;
    background:#e9edf2;
    border: 3px solid black;
    transition: left 0.7s ease-in-out;
    padding: 0;
}

.box-category.show {
    width: 0%;
}

/* entry button */
.category-btn{
    height: 50%;
    width: 20%;
    background: linear-gradient(to right, #0762d8 , #2de5e0);
    border-radius: 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    transition: all 0.7s ease-in-out;
}


/* search bar */
.category-search{
    border-radius: 30px;
    height: 50%;
    width: 20vw;
    transition: all 0.7s ease-in-out;
}


/* Added Styles for Sort By */
.sort-container {
    height: 50%;
    align-items: center;
    background-color: white; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
    font-family: sans-serif;
    font-size: 16px;
}

.sort-container .sort-by {
    margin-right: 10px;
    text-decoration: underline;
    color: #007bff; /* Blue color for "Sort by" */
    white-space: nowrap; /* Prevent text from wrapping */
}

.sort-container input[list="sort-options"] {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc; /* Add a border for input */
    background-color: #e0e0e0; /* Slightly darker grey for the input */
    white-space: nowrap; /* Prevent text from wrapping */
}

.sort-container datalist {
    background-color: #f0f0f0; /* Light grey for the datalist */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sort-container datalist option {
    padding: 5px 10px;
}


/* Modal styles for pop up*/
.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999; /* Pop up (on top of other elements) */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff; /* White background for now */
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    height: 70%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Add shadow for depth */
}
  
.modal-header {
    display: flex;  
    width: 100%;
    justify-content: space-between;  /* Add space in between */
    align-items: center;
    margin-bottom: 20px;
}
  
.modal-header h2 {
    font-size: 24px;
    color: #333;  /* Dark gray */
    margin: 0;
}

#entryForm {
    display: flex;  
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.close {
    color: #aaa;  /* Color of close button, different from background */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.image-upload {
    display: flex;
    width: 30%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
  
.image-preview {
    width: 150px;
    height: 150px;
    background-color: #ddd; /* Light gray background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 36px;
    color: #888;
    cursor: pointer; /* Changes the cursor to a pointer */
}
  
.image-preview p {
    margin-top: 10px;
    font-size: 16px; /* Sets the font size for "Add image" */
    color: #888; /* Gray text */
}
  
.form-details-column {
    display: flex;
    flex-direction: column; /* Aligns items in a column */
    width: 70%;
    height: 40%;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
}

.form-group {
    margin-bottom: 20px; /* Adds space below each form group */
    width: 100%;
    height: 30%;
}
  
.form-group label {
    display: block; /* Makes the label a block-level element */
    margin-bottom: 5px; 
    font-weight: bold;
    color: #333;
}
  
.form-group input,
.form-group textarea {
    width: 100%; /* Makes the input/textarea fill the width */

    padding-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  
.rating {
    display: flex; /* Aligns stars in a row */
    justify-content: center;
    margin-bottom: 10px;
}
  
.rating-star {
    font-size: 24px; /* Sets the size of the stars */
    color: #ccc; /* Light gray color for inactive stars */
    cursor: pointer;
}
  
.rating-star.active {
    color: gold; /* Changes the color to gold for active stars */
}


.done-btn{
    color:white;
    background: linear-gradient(to right, #0762d8 , #2de5e0);
}

.entry-card {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 12px 16px;
    margin-left: 20vw;
    margin-bottom: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease-in-out;
    width: 40vw;
    align-items: flex-start; /* align top of image and text */
}


.entry-card > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px; 
  }

.entry-all:hover {
    transform: scale(1.01);
}

/* title of the entry */
.entry-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* rating stars of the item */
.entry-stars {
    font-size: 1.1rem;
    color: #3498db;
}
  
  /* review text of the item */
.entry-review {
    width: 24vw;
    transform: translateX(60%) translateY(-5vh); 
    font-size: 0.95rem;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
}


.entry-img {
    width: 19vh;  /* Set a fixed width for the image */
    height: 28vh; /* Set a fixed height for the image */
    background-color: #888;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(-53vw);
    flex-shrink: 0; /* Prevents the image from shrinking */
    flex-grow: 0; /* Prevents the image from growing */
    margin-right: 12px; /* Add space between the image and the text */
}

.entry-info {
    display: flex;
    flex-direction: column; /* Arrange the text elements in a column */
    font-size: 16px;
    color: #333;
}

.entry-all {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

.category-scroll-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    top: 10%
}

.category-list-add-btn{
    background: linear-gradient(to right, #0762d8 , #2de5e0);
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 15%;
    border-radius: 1px;
    border-top: 2.5px solid;
    border-color: black;
}

.category-name-container{
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.category-name-btn{
    display: block;
    color: #333;
    width: 100%;
    min-height: 10vh;
    padding: 10px 15px;
    font-size: 30px;
    text-align: left;
    border: none;
    border-radius: 1px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: #e9edf2;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
}

.category-name-btn.active-category {
    background-color: lightblue; /* Or any highlight style you prefer */
    /* Add other styles like font-weight if desired */
    /* font-weight: bold; */
}

.category-name-btn-input{
    display: block;
    font-weight:bold;
    color: #333;
    width: 100%;
    min-height: 10vh;
    padding: 10px 15px;
    font-size: 30px;
    text-align: left;
    background-color: #e9edf2;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
}

.category-name-btn-input.active-category {
    background-color: lightblue;
  }

  .trash-icon {
    position: absolute;
    margin-right: 1vh;
    margin-top: 1vh;
    top: 6px;
    right: 6px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .trash-icon:hover {
    transform: scale(1.2);
  }